<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(plural_resource_name(Spree::ResourceType)) %>
<% admin_breadcrumb(plural_resource_name(Spree::CustomField)) %>

<% if @custom_fields.any? %>
<table class="index sortable" id="listing_custom_fields" data-hook="listing-custom-fields" data-sortable-link="<%= update_values_positions_admin_resource_type_custom_fields_url(resource_type_id: params[:resource_type_id]) %>">
  <colgroup>
    <col style="width: 10%">
    <col style="width: 35%">
    <col style="width: 40%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="option_header">
      <th class="no-border"></th>
      <th><%= Spree::CustomField.human_attribute_name(:label) %></th>
      <th><%= Spree::CustomField.human_attribute_name(:type) %></th>
      <th><%= Spree::CustomField.human_attribute_name(:required) %></th>
    </tr>
  </thead>
  <tbody>
    <% @custom_fields.each do |custom_field| %>
      <tr class="spree_custom_field <%= cycle('odd', 'even')%>" id="<%= spree_dom_id custom_field %>" data-hook="option_row">
        <td class="no-border"><span class="handle"></span></td>
        <td class="align-center"><%= custom_field.label %></td>
        <td class="align-center"><%= custom_field.type.split("::").last %></td>
        <td class="align-center"><%= custom_field.required %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="col-md-9 no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::CustomField,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
