<% if (instance_v = @product.instance_variant_with_form_values).present? %>
  <div id="form-values-container" itemprop="form-values" data-hook="form-values">
    <%= content_tag(:dl, class: 'product-form-values', data: {values: instance_v.hash_values}) do %>
      <% instance_v.frontend_form_values.sort_by{|f| f.custom_field.present?? f.custom_field.created_at : f.created_at }.each do |form_value| %>
        <dt><%= form_value.field_label.titleize %>:</dt>
        <dd><span><%= form_value.value.is_a?(Array) ? form_value.value.join(',') : form_value.value %></span></dd>
      <% end %>
    <% end %>
  </div>
<% end %>
