<div data-hook="admin_resource_type_form_fields" class="align-center row">
  <div class="col-md-12">
    <%= f.field_container :name do %>
      <%= f.label :name, class: 'required text-left' %>
      <%= f.text_field :name, :class => "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>
</div>

<div data-hook="admin_resource_type_custom_fields_form" class="align-center" id="resource-fields-container">
  <fieldset class="no-border-bottom">
    <legend align="center">Resource Fields</legend>
    <div id="custom_fields">
      <%= f.fields_for :custom_fields do |field_form| %>
        <%= render :partial => 'spree/admin/shared/custom_fields', :locals => { :f => field_form } %>
      <% end %>
      <div class="links field-links">
        <%= link_to_add_association 'Add Field', f, :custom_fields,
          partial: 'spree/admin/shared/custom_fields', class: 'button' %>
      </div>
    </div>
  </fieldset>
</div>

<%= javascript_tag do %>
  <%= render(partial: 'cocoon_setup', handlers: [:erb], formats: [:js]) %>
<% end %>
