<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(link_to plural_resource_name(Spree::ResourceType), spree.admin_resource_types_path) %>
<% admin_breadcrumb(@resource_type.name) %>


<% content_for :page_actions do %>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @resource_type } %>

<%= form_for [:admin, @resource_type] do |f| %>

  <fieldset class="no-border-bottom">
    <legend><%= Spree::ResourceType.model_name.human %></legend>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
