<% admin_breadcrumb(link_to plural_resource_name(Spree::Product), spree.admin_products_path) %>
<% admin_breadcrumb(plural_resource_name(Spree::ResourceType)) %>


<% content_for :page_actions do %>
  <% if can?(:create, Spree::ResourceType) %>
    <li id="new_ot_link">
      <%= button_link_to Spree.t(:new_resource_type), new_admin_resource_type_url, { :remote => true, :id => 'new_resource_type_link' } %>
    </li>
  <% end %>
<% end %>

<div id="new_resource_type"></div>

<% if @resource_types.any? %>
<table class="index sortable" id="listing_resource_types" data-hook="listing-resource-types" data-sortable-link="<%= update_values_positions_admin_resource_types_url %>">
  <colgroup>
    <col style="width: 10%">
    <col style="width: 35%">
    <col style="width: 40%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="option_header">
      <th class="no-border"></th>
      <th><%= Spree::ResourceType.human_attribute_name(:name) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @resource_types.each do |resource_type| %>
      <tr class="spree_resource_type <%= cycle('odd', 'even')%>" id="<%= spree_dom_id resource_type %>" data-hook="option_row">
        <td class="no-border"><span class="handle"></span></td>
        <td class="align-center"><%= resource_type.name %></td>
        <td class="actions">
          <%= link_to_with_icon('list', '',
            admin_resource_type_custom_fields_path(resource_type_id: resource_type.id)) %>
          <% if can?(:update, resource_type) %>
            <%= link_to_edit(resource_type, :class => 'admin_edit_resource_type', :no_text => true) %>
          <% end %>
          <% if can?(:destroy, resource_type) %>
            <%= link_to_delete(resource_type, :no_text => true) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="col-md-9 no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                 resource: Spree::ResourceType,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
