<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @resource_type } %>

<%= form_for [:admin, @resource_type] do |f| %>
  <fieldset>
    <legend align="center"><%= Spree.t(:new_resource_type) %></legend>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
