$("#new_resource_type").html('<%= escape_javascript(render :template => "spree/admin/resource_types/new", :formats => [:html], :handlers => [:erb]) %>');
$("#new_resource_type_link").parent().hide();
