<div data-hook="new_resource_type_option">
  <%= f.field_container :resource_type do %>
    <%= f.label :resource_type_id, Spree::ResourceType.model_name.human %>
    <%= f.field_hint :resource_type %>
    <% if f.object.resource_type.present? %>
      <%= f.text_field :resource_type, value: f.object.resource_type.name, disabled: true %>
    <% else %>
      <%= f.collection_select :resource_type_id, Spree::ResourceType.all, :id, :name, prompt: true %>
    <% end %>
  <% end %>
</div>
