<div data-hook="new_product_resource_type" class="col-md-3">
  <%= f.field_container :resource_type do %>
    <%= f.label :resource_type_id, Spree::ResourceType.model_name.human %>
    <%= f.field_hint :resource_type %>
    <%= f.collection_select(:resource_type_id,
      Spree::ResourceType.with_fields, :id, :name,
      { :include_blank => Spree.t('match_choices.none') },
      { :class => 'select2 fullwidth',
        :name => 'product[master_attributes[resource_type_id]]' }) %>
    <%= f.error_message_on :resource_type %>
  <% end %>
</div>
