<% if f.object.resource_type.present? %>
  <div class="col-md-3">
    <div class="field" data-hook="resource-type">
      <%= f.label :resource_type, Spree::ResourceType.model_name.human %>
      <%= f.text_field :resource_type, value: f.object.resource_type.name, disabled: true %>
    </div>
  </div>
<% end %>
