<% if f.object.resource_type.present? %>
  <div data-hook="admin_variant_resource_types_form_fields">
    <fieldset class="no-border-top no-border-bottom">
      <legend><%= f.object.resource_type.name.titleize + " Fields"%></legend>
      <p><%= Spree.t(:variant_form_hint, scope: [:admin, :resource_types]) %> </p>

      <div class="row">
        <%= f.fields_for :form_values, {builder: SimpleForm::FormBuilder} do |value_form| %>
          <%= render :partial => 'spree/admin/tab_resource_types/form_values', :locals => { :f => value_form } %>
        <% end %>
      </div>
    </fieldset>
  </div>
<% end %>
