<div class="nested-fields custom-form-field col-md-3">
  <div class="field">
    <% if f.object.custom_field.present? %>
      <% field = "#{f.object.custom_field.type}Presenter".constantize.new(f.object.custom_field) %>
      <%= f.input :custom_field_id, as: :hidden, value: field.id %>
      <%= f.input :value, {
        label: field.display_label,
        input_html: field.input_html,
        required: field.required_html,
        value: field.value,
        wrapper_html: field.wrapper_html,
      }.merge(field.options) %>
    <% else %>
      <%= f.label f.object.field_label %>
      <%= link_to form_value_admin_product_tab_resource_types_path(product_id: @product.id, form_value_id: f.object.id),
        id: 'delete-value', class: 'showhim', method: :delete,
        data: { method: :delete, confirm: 'Are you sure?' } do %>
        X
      <% end %>
      <div class="showme-left">
        This field is blocked because it was deleted at the source.
        Click at this button to delete it from here as well.
      </div>
      <%= f.text_field :value, value: formatted_value(f.object.value), disabled: true %>
    <% end %>
  </div>
</div>
