<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Extra Fields"} %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @variant } %>

<% admin_breadcrumb(Spree.t(:resource_fields, scope: [:admin, :tab])) %>

<%= simple_form_for Spree::VariantPresenter.new(@product.master), url: spree.admin_product_tab_resource_type_path(@product.master, product_id: @product.id) do |f| %>

  <fieldset class="no-border-bottom">
    <legend><%= @resource_type.name.singularize.titleize + " Fields"%></legend>

    <div class="row">
      <%= f.fields_for :form_values do |value_form| %>
        <%= render :partial => 'spree/admin/tab_resource_types/form_values', :locals => { :f => value_form } %>
      <% end %>
    </div>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update') %>
    </div>
  </fieldset>
<% end %>
