/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/

.field_with_errors{
  background-color: red;
  padding: 2px;
}

.field_with_errors label{
  color: white;
}

/* Common class for nested fields */
.nested-fields{
    background: #e4e4e4;
    padding: 0 10px;
    position: relative;
}

/* Fields (1º descendance) */
.nested-child{

}

/* Options (2º descendance) */
.nested-grand-child{
  display: inline-block;
  padding: 0 1.5px 0 1.59px !important
}

.field label {
  width: 100%;
  display: block;
}
span.checkbox label {
  display: initial;
}

#custom_fields .remove {
  position: absolute;
  right: 0;
  top: 0;
}

.input-rmv {
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 3.5px 10px;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.option {
  padding: 10px;
  position: relative;
}

.checkbox-option {
  margin-right: 20px;
}

.checkbox-option label {
  margin-bottom: 10px;
}

.custom-form-field .checkbox {
  display: inline-block;
  margin-right: 10px;
}

#custom_fields .nested_fields {position: relative;}
