<div class="nested-fields custom-field-item nested-child">
  <div class="row">
    <div class="col-md-3">
      <div class="field">
        <%= f.label :label, class: 'required' %>
        <%= f.text_field :label, :class => "fullwidth field-label" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="field">
        <%= f.label :placeholder %>
        <%= f.text_field :placeholder, :class => "fullwidth field-placeholder" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="field type_select">
        <%= f.label :type, class: 'required' %>
        <%= f.collection_select(:type,
          [["TextField", "Spree::TextField"],
           ["IntegerField", "Spree::IntegerField"],
           ["DropdownField", "Spree::DropdownField"],
           ["DateField", "Spree::DateField"]],
            :last, :first) %>
      </div>
    </div>

    <div class="checkbox-option">
      <div class="field">
        <%= f.label :required, class: 'required' %>
        <%= f.check_box :required, :class => "check" %>
      </div>
    </div>

    <div class="checkbox-option">
      <div class="field">
        <%= f.label :frontend_visible, class: 'required' %>
        <%= f.check_box :frontend_visible, :class => "check", checked: f.object.frontend_visible %>
      </div>
    </div>

    <div class="col-md-3 limit-fields">
      <div class="field">
        <%= f.label :min %>
        <%= f.text_field :min, :class => "fullwidth" %>
      </div>
    </div>

    <div class="col-md-3 limit-fields">
      <div class="field">
        <%= f.label :max %>
        <%= f.text_field :max, :class => "fullwidth" %>
      </div>
    </div>

    <div class="checkbox-option check-box-def">
      <div class="field">
        <%= f.label :as_check_boxes %>
        <%= f.check_box :as_check_boxes, :class => "check" %>
      </div>
    </div>

    <div class="float-right">
      <%= link_to_remove_association "X", f, class: 'button remove' %>
    </div>

    <div class="clear"></div>

    <div class="field col-md-12">
      <div class="options<%= f.object.id %> options-holder">
        <div class="links option-links">
          <%= link_to_add_association 'Add Option', f, :options,
            partial: 'spree/admin/shared/option_form_fields',
            class: 'button' %>
        </div>

        <div class="items">
          <%= f.fields_for :options do |option_form| %>
            <%= render :partial => 'spree/admin/shared/option_form_fields', :locals => { :f => option_form } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
