<div class="nested-fields option-container nested-grand-child">
  <div class="field option">
    <%= f.label :label, "Option", class: 'required' %>
    <%= f.text_field :label, class: 'fullwidth' %>

    <%= link_to_remove_association "x", f, class: 'button input-rmv' %>
  </div>
</div>
