<%= content_tag :li, :class => ('active' if current == 'Extra Fields') do %>
  <%= link_to Spree.t(:extra_fields, scope: [:admin, :tab]), spree.admin_product_tab_resource_types_path(product_id: @product.id) %>
<% end if can?(:admin, Spree::Product) && @product.resource_type.present? %>
